<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</div>

<% end %>


ssh-keygen -t ed25519 -C "divamdinnasai@gmail.com"
ssh-keygen -t ed25519 -C "divamdinnasai@gmail.com"
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM4XEkuygXFJg8U5bAIYjm2eD2xEkvaskIWmnllkTCZ2 divamdinnasai@gmail.com
saicharan@saicharan-ThinkBook-14-G2-ITL:~/Desktop/blog$ ^C


git config --global user.email "divamdinnasai@gmail.com"
  git config --global user.name "Charan"